<article *ngIf="article" class="article">
  <div class="container">

    <!-- Post Content Column -->
    <div class="">

      <div class="article-back-button">
        <a [routerLink]="['/']"><i class="fas fa-caret-left mr-1"></i>article list</a>
      </div>
      <!-- Title -->
      <h1 class="mt-1 text-left">{{article.title}}</h1>


      <!-- Date/Time -->
      <div class="d-flex justify-content-left mt-3">
        <div class="media text-muted">
          <img class="mr-3 authorMedia" [src]="'../../../assets/authors/'+ article.author.name +'.jpg'"
            alt="Generic placeholder image">
          <div class="media-body">
            <span class=""><a href="https://etiennepuissant.eu" target="_blank">{{article.author.name}}</a></span>
            <span>Posted on {{article.date  | date:'fullDate'}} · reading time : {{article.readingTime}} min </span>
          </div>
        </div>
      </div>

      <hr>
      <p class="lead writing">{{article.preview}}</p>

      <!-- Preview Image -->

      <div class="article-image" [ngStyle]="{'background-image':'url('+config.getPublicImageUrl() + '/blog/' + article.imageLink+')'}"> 

      </div>



        <!-- Post content markdown -->
        <div class="markdown writing">
          <markdown [data]="article.content"></markdown>

        </div>

        <hr>

      </div>


      <div class="">
        <app-blog-article-tags [articleTags]="article.tags"></app-blog-article-tags>
        <hr>

        <!-- <app-blog-comments [articleId]="article._id" [articleComments]="article.comments"></app-blog-comments> -->
      </div>


      <div class="">

        <h5 class="text-center">WRITTEN BY</h5>


        <div class="auhtorBottom mt-3 mb-3">

          <div class="media text-muted">
            <img class="mr-3 authorMedia" [src]="'../../../assets/authors/'+ article.author.name +'.jpg'"
              alt="Generic placeholder image">
            <div class="media-body">
              <h4 class="mt-1 mb-0"><a href="article.author.link">{{article.author.name}}</a></h4>
              <p>{{article.author.lead}}</p>
            </div>


          </div>
          <div class="authorSocials">
            <a href="https://twitter.com/NevinCognac?ref_src=twsrc%5Etfw" data-show-count="false"><i
                class="fab fa-twitter" rel="noopener"></i> NevinCognac</a>
            <a href="https://etiennepuissant.eu" target="_blank" rel="noopener"><i
                class="fab fa-github"></i>Nevindry</a>
            <a href="https://github.com/NevinDry" target="_blank" rel="noopener"><i
                class="fas fa-link"></i>etiennepuissant.eu</a>
          </div>

        </div>
      </div>
    </div>




    <div class=" socialMedias">
      <span class="">
        <!-- Facebook use page meta for his post preview -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=localhost:4200" target="_blank"><i
            class="fab fa-facebook-square"></i></a>

      </span>
      <span class="">
        <!-- Same as facebook i guess -->
        <a [href]="'https://www.linkedin.com/shareArticle?mini=true&url=localhost:4200/&title=' + article.title"
          target="_blank"><i class="fab fa-linkedin"></i></a>

      </span>
      <span class="">

        <a [href]="'https://twitter.com/share?url=localhost:4200/&text=' + article.title + ' by ' + article.author"
          target="_blank"><i class="fab fa-twitter-square"></i></a>

      </span>

    </div>
</article>