/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background-color:#5c9e5c1f;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;

}

.btn-primary{
    background-color: hsl(204, 86%, 53%)	;
}

.title{
    font-family: 'Kaushan Script', cursive;
}
