<h1 class="text-center title">Nevin's BLOG</h1>
<div class="w-100 mySocials d-flex justify-content-center">
    <a target="_blank" rel="noopener"
      href="https://www.linkedin.com/in/etienne-puissant-2b895a5b/en?locale=en_US&trk=profile_view_lang_sel_click"><i
        class="fab fa-linkedin" aria-label="My Linkedin"></i></a>
    <a target="_blank" rel="noopener" href="https://github.com/NevinDry" aria-label="My Github"><i
        class="fab fa-github"></i></a>
    <a target="_blank" rel="noopener" href="https://twitter.com/NevinCognac" aria-label="My Twitter"><i
        class="fab fa-twitter"></i></a>
    <a target="_blank" rel="noopener" href="https://etiennepuissant.eu" aria-label="My Website"><i
        class="fa fa-link"></i></a>
  </div>
<router-outlet></router-outlet>
<app-footer></app-footer>
