.tags{
    margin:0;
    padding: 0;
}

.tags li {
    list-style-type: none;
    margin-bottom: 5px;
  }
  
  .tag {
    background: hsl(171, 100%, 41%);
    border-radius: 3px 0 0 3px;
    color: white;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 7px;
    position: relative;
    margin: 0 10px 0px 0;
    text-decoration: none;
  }

  .tag i{
      padding-right: 5px;
  }
  
  .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  .tag::after {
     border-left-color: hsl(171, 100%, 41%); 
  }