
  .header-gihtub {
    position: absolute;
    left: 0;
    top:0;
    z-index: 3;
  }
  
  .card .author {
    position: absolute;
    top: 200px;
    right: 45px;
 }
 
 .card .author img {
   height: 150px;
   width: 150px;
   border-radius: 90px;
 
 }
 
 .card-img-top{
   height: 320px;
   object-fit: cover;

 }

 .blogSearchBar a {
  color: grey;
  font-size: 0.80rem;
}

.blogSearchBar a:hover {
  text-decoration: underline;
  color: grey;
  cursor: pointer;
}



// .mySocials a .fa-linkedin {
//   color: #0e76a8;
// }

// .mySocials a .fa-github {
//   color: #24292e;
// }