<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">Latest Articles
      </h1>

      <app-loading *ngIf="loading"></app-loading>

      <!-- Blog Post -->
      <div *ngIf="!loading">
        <div *ngFor="let article of articles" class="card mb-4">
          <img class="card-img-top" [src]="config.getPublicImageUrl() + '/blog/' + article.imageLink"
            alt="Card image cap">
          <div class="author">
            <img [src]="'../../../assets/authors/' + article.author.name + '.jpg'" alt="Card author">

          </div>
          <div class="card-body">
            <h2 class="card-title">{{article.title}}</h2>
            <p class="card-text">{{article.preview}}</p>

            <a [routerLink]="['/blogArticle', article._id]" class="btn btn-primary">Read more →</a>
            <hr>
            <div class="row">
              <div class="col-8">
                <app-blog-article-tags  (searchTag)="onSearchTag($event)" [onPage]="true" [articleTags]="article.tags"></app-blog-article-tags>

              </div>
              <div class="col-4">
                <span class="text-muted float-right font-italic">
                  {{article.readingTime}} min reading
                </span>
              </div>
            </div>

          </div>
          <div class="card-footer text-muted">
            Posted on {{ article.date | date:'fullDate'}} by
            <a [href]="article.author.link">{{article.author.name}}</a>
          </div>
        </div>
      </div>


    </div>
    <div class="col-md-4">
      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body blogSearchBar">
          <div class="input-group">
            <input type="text" #searchValue class="form-control" aria-label="Search" laceholder="...">
            <span class="input-group-btn">
              <button class="btn btn-primary ml-1" (click)="searchArticles(searchValue.value)"
                type="button">Go!</button>
            </span>
          </div>
          <a class="searchResetLink" (click)="searchArticles('')">reset</a>
        </div>
      </div>

      <div class="card my-4">
          <h5 class="card-header">Tags</h5>
          <div class="card-body">
            <div class="input-group">
                <app-blog-article-tags (searchTag)="onSearchTag($event)" [onPage]="true" [articleTags]="tags"></app-blog-article-tags>
            </div>
          </div>
        </div>

      <!-- <a [routerLink]="['/backOffice']" class="btn btn-info">Add article</a> -->

    </div>



  </div>
</div>
